networks:
  alpha_engine:
    driver: bridge

services:
  annuity-assurance-direct:
    container_name: aa-alpha-web
    build:
      dockerfile: ./Dockerfile.builder
      context: ../frontend
    ports:
      - "3000:3000"

  temporal-workflows:
    container_name: temporal-workflows
    build:
      context: ../backend
      target: development
    command:
      - /bin/sh
      - -c 
      - |
        npx prisma migrate dev
        npx prisma generate
        npx prisma db seed
        npm run temporal:run:cannex-myga
        npm run temporal:run:cannex-fia
        npm run temporal:worker:dev
    env_file:
      - ../backend/.env
    depends_on:
      postgres:
        condition: service_healthy
    extra_hosts:
      - "localhost:host-gateway"
    networks:
      - alpha_engine

  aa-api:
    build:
      context: ../backend
      target: development
    command: sh -c "npx prisma generate && npm run dev"
    env_file:
      - ../backend/.env
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "4000:4000"
    extra_hosts:
      - "localhost:host-gateway"
    networks:
      - alpha_engine
    environment:
      - NODE_ENV=development
      - PORT=4000

  postgres:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    networks:
      - alpha_engine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=alpha_engine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  temporal:
    container_name: temporal
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - DB=postgres12
      - DB_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PWD=postgres
      - POSTGRES_SEEDS=postgres
    image: temporalio/auto-setup:1.27.0
    networks:
      - alpha_engine
    ports:
      - 7233:7233

  temporal-admin-tools:
    container_name: temporal-admin-tools
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CLI_ADDRESS=temporal:7233
    image: temporalio/admin-tools:1.27.0
    networks:
      - alpha_engine
    stdin_open: true
    tty: true
  temporal-ui:
    container_name: temporal-ui
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CORS_ORIGINS=http://localhost:3000
    image: temporalio/ui:2.34.0
    networks:
      - alpha_engine
    ports:
      - 8080:8080

volumes:
  postgres_data:
  node_modules: 