name: Integration Tests

on:
  workflow_call:
    inputs:
      frontend_branch:
        type: string
        required: true
      backend_branch:
        type: string
        required: true
    secrets:
      GH_PAT:
        required: true

permissions:
  contents: read

jobs:
  run-integration-tests:
    runs-on: ubuntu-latest
    environment: staging
    steps:
      - name: Resolve calling repo
        run: |
          echo "Calling repository: ${{ github.repository }}"
          echo "Frontend branch: ${{ inputs.frontend_branch }}"
          echo "Backend branch: ${{ inputs.backend_branch }}"

      # Checkout the current repo to get docker-compose.yml
      - name: Checkout OPs repo
        uses: actions/checkout@v4
        with:
          repository: bitovi/aa-alpha-ops
          ref: main
          path: ops
          token: ${{ secrets.GH_PAT }}

      # Checkout the frontend repo (aa-alpha-web)
      - name: Checkout frontend
        uses: actions/checkout@v4
        with:
          repository: bitovi/aa-alpha-web
          ref: ${{ inputs.frontend_branch }}
          path: frontend
          token: ${{ secrets.GH_PAT }}

      # Checkout the backend repo (aa-alpha-engine)
      - name: Checkout backend
        uses: actions/checkout@v4
        with:
          repository: bitovi/aa-alpha-engine
          ref: ${{ inputs.backend_branch }}
          path: backend
          token: ${{ secrets.GH_PAT }}

      - uses: actions/setup-node@v4
        with:
          node-version-file: "./frontend/.nvmrc"
      - name: Build Frontend .env
        run: |
          cd ./frontend

          npm ci

          echo "NEXT_PUBLIC_AA_ALPHA_ENGINE_URL=http://aa-alpha-engine:4000" > .env
          echo "NEXT_PUBLIC_AWS_RUM_IDENTITY_POOL=${{ vars.AWS_RUM_IDENTITY_POOL }}" >> .env
          echo "NEXT_PUBLIC_AWS_RUM_ENDPOINT=${{ vars.AWS_RUM_ENDPOINT }}" >> .env
          echo "NEXT_PUBLIC_AWS_APPLICATION_ID=${{ vars.AWS_APPLICATION_ID }}" >> .env
          echo "NEXT_PUBLIC_AWS_APPLICATION_REGION=${{ vars.AWS_APPLICATION_REGION }}" >> .env
          echo "NEXT_PUBLIC_AA_ALPHA_SHA=${{ github.sha }}" >> .env
          echo "NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=${{ vars.CLERK_PUBLISHABLE_KEY }}" >> .env
          echo "CLERK_SECRET_KEY=${{ secrets.CLERK_SECRET_KEY }}" >> .env
          echo "PLAYWRIGHT_DISABLE_WEB_SERVER=true" >> .env
          echo ".env file created"
          cat .env
          cd ..
      - name: Run docker compose
        run: |
          cd backend
          npm run docker:dev
          cd ..
        env:
          TEMPORAL_VERSION: 1.27.0
          TEMPORAL_ADMINTOOLS_VERSION: 1.27.0
          TEMPORAL_UI_VERSION: 2.34.0

      - name: Run integration tests
        run: |
          cd frontend
          npx playwright install --with-deps
          npm run e2e:integration

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: frontend/playwright-report/
          retention-days: 30
